<div class="row">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Participant:</strong>
      <%= @weigh_in.participant_id %>
    </p>

    <p>
      <strong>Team:</strong>
      <%= @weigh_in.team_id %>
    </p>

    <p>
      <strong>Weight begin:</strong>
      <%= @weigh_in.weight_begin %>
    </p>

    <p>
      <strong>Weight 1:</strong>
      <%= @weigh_in.weight_1 %>
    </p>

    <p>
      <strong>Weight 2:</strong>
      <%= @weigh_in.weight_2 %>
    </p>

    <p>
      <strong>Weight 3:</strong>
      <%= @weigh_in.weight_3 %>
    </p>

    <p>
      <strong>Weight 4:</strong>
      <%= @weigh_in.weight_4 %>
    </p>

    <p>
      <strong>Weight 5:</strong>
      <%= @weigh_in.weight_5 %>
    </p>

    <p>
      <strong>Weight 6:</strong>
      <%= @weigh_in.weight_6 %>
    </p>

    <p>
      <strong>Weight 7:</strong>
      <%= @weigh_in.weight_7 %>
    </p>

    <p>
      <strong>Weight 8:</strong>
      <%= @weigh_in.weight_8 %>
    </p>

    <p>
      <strong>Weight 9:</strong>
      <%= @weigh_in.weight_9 %>
    </p>

    <p>
      <strong>Weight 10:</strong>
      <%= @weigh_in.weight_10 %>
    </p>

    <p>
      <strong>Weight end:</strong>
      <%= @weigh_in.weight_end %>
    </p>

    <%= link_to 'Edit', edit_weigh_in_path(@weigh_in) %> |
    <%= link_to 'Back', weigh_ins_path %>
  </div>
</div>
