<p id="notice"><%= notice %></p>

<h1>Results</h1>

<table>
  <thead>
    <tr>
      <th>Participant</th>
      <th>Week number</th>
      <th>Weight loss</th>
      <th>Weight loss percent</th>
      <th>Overall weight loss</th>
      <th>Overall weight loss percent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.participant_id %></td>
        <td><%= result.week_number %></td>
        <td><%= result.weight_loss %></td>
        <td><%= result.weight_loss_percent %></td>
        <td><%= result.overall_weight_loss %></td>
        <td><%= result.overall_weight_loss_percent %></td>
        <td><%= link_to 'Show', result %></td>
        <td><%= link_to 'Edit', edit_result_path(result) %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result', new_result_path %>
